{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 700,
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": true
}
